*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
.sidebar{
    background-color: rgb(77, 70, 70);
    width: 10vw;
    font-family:'Pushster',cursive;
    height: 100vh;
}

.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    background-color: black;
    width: 100vw;
}
.main nav{
    padding: 45px;
}
.container{
    /*flex-bring div elements side by side*/
    display: flex;
}
.infocontainer{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 100vw;
    margin:  auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    margin:auto;
}
.hello{
    font-size: 40px ;
}
 .name{
    font-size:  40px; 
    font-weight: bold;

}
.about{
    font: size 30px ;
}
.buttons
{
    margin: 10px;
}
.buttons button{
    padding: 5px;
    background-color: grey;
    border-radius: 10cm;


}
.buttons button:hover{
    background-color: ivory;
    color: blue;
}



.devpic{
    height: 80vh;
}
.devpic img{
    height: 80vh;
}